img {
	height: 130px;
}

img {
	width: 130px;
}

h1 {
	font-family: monospace;
	font-size: 25px;
}

p {
	color: Black;
}

button {
	background-color: White;
}

button {
	color: Black;
}

button {
	border-radius: 5px;
}