img {
	height: 80px;
}

img {
	width: 1300px;
}

h1 {
	font-family: monospace;
}

p {
	color: Black;
}

button {
	background-color: White;
}

button {
	color: Black;
}

button {
	border-radius: 5px;
}